#container {
    display: flex;
    flex-flow: row wrap;
    background-color: green;
    max-width: 1040px;
    margin: 0 auto;
    padding: 20px 10px;
}

.card {
    flex: 1; /* same as flex: 1 1 0px; */
    padding: 0 10px;
    margin: 0 10px;
    display: flex;
    flex-flow: column;
    background-color: white;
    border: 1px solid black;
}

button {
    margin: 10px;
}

p {
    flex: 1 0 auto;
}